.nav-bar {
    background-color: #373c3f;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    .nav-text {
        color: #ffffff;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    top: 37px;
    position: absolute;
    right: 0px;
    background-color: #ccc;
}

.hidden {
    display: none;
}

.nav-menu-items:hover {
    background-color: #ccc;
}

.nav-menu-items {
    width: 180px;
    color: #444444;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
    padding-left: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

.nav-menu-toggle {
    height: 39px;
    width: 41px;
    background: #202529;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 96px;
    .fa-bars {
        color: #fff;
    }
    .fa-times {
        font-size: 20px;
    }
    .fa-times::before {
        color: #fff
    }
}

.pizza-logo {
    display: none;
}

.menu-logo {
    display: none;
}

.main-pizza {
    background-image: url('../img/header-fon_copy_3.png');
    height: 175px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .text-main-pizza {
        color: #ffffff;
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-weight: 700;
        padding-left: 20px;
    }
    .pt-pizza {
        padding-top: 20px;
    }
    .website-pizza {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        color: #a6d6e0;
        padding-left: 20px;
    }
}

.pizza-flex-wrapper {
    display: flex;
    flex-direction: row;
}

.flex-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-pizza-menu {
    display: flex;
    flex-direction: column;
}

.pizza-menu {
    width: 250px;
    height: 75px;
    .pizza-menu-text {
        font-family: Lato, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        line-height: 4;
    }
}

.green-square {
    width: 70px;
    height: 75px;
    background-color: #acd8ad;
    color: white;
    text-align: center;
    line-height: 4.5;
}

.mt {
    margin-top: 2px;
}

.pizza-img1 {
    background-image: url('../img/Pizza_delivery_fon_copy_3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pizza-img2 {
    background-image: url('../img/UX_Salads_fon_copy_3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pizza-img3 {
    background-image: url('../img/Desserts_fon_copy_3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    h2 {
        font-family: Lato, sans-serif;
        font-size: 20px;
        color: #3f4043;
        text-transform: uppercase;
        text-align: center;
        padding-top: 25px;
    }
    .text-below-h2 {
        font-family: Lato, sans-serif;
        font-size: 10px;
        color: #cbccce;
        padding-left: 8px;
        padding-bottom: 10px;
    }
    .tincidunt-bg {
        background-color: #3f4043;
        height: 35px;
    }
    .vestibulium-bg {
        background-color: #acd8ad;
    }
    .tincidunt-text {
        font-family: Lato, sans-serif;
        font-size: 20px;
        color: #acd8ad;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.7;
    }
    .vestibulium-text {
        color: #fff;
    }
    .first-flex-menu {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .hendrerit-text {
        font-family: Lato, sans-serif;
        font-size: 15.5px;
        color: #3f4043;
        line-height: 1.5;
        text-transform: uppercase;
    }
    .snow-img {
        width: 25px;
        height: 25px;
    }
    .wine-img {
        width: 13px;
        height: 25px;
    }
    .food-items .price-items {
        font-family: Lato, sans-serif;
        font-size: 13.5px;
        color: #3f4043;
    }
    .info-about-menu-items {
        font-family: Lato, sans-serif;
        font-size: 9px;
        color: #3f4043;
        padding-left: 20px;
        padding-top: 10px;
    }
    .pb {
        padding-bottom: 30px;
    }
}

.footer-section {
    height: 55px;
    background-color: #acd8ad;
}

.footer-logo {
    display: none;
}

.footer-text {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
}

.footer-pt {
    padding-top: 10px;
}

@media screen and (min-width: 640px) {
    .nav-bar {
        height: 75px;
        .nav-text {
            font-size: 24px;
        }
        .nav-menu {
            top: 75px
        }
        .nav-menu-toggle {
            width: 82px;
            height: 75px;
            left: 202px
        }
        .nav-menu-items {
            width: 245px;
            color: #444444;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
        }
        .fa-bars {
            font-size: 30px;
        }
        .fa-times::before {
            font-size: 30px
        }
    }
    .main-pizza {
        background-image: url('../img/header-fon copy 2.png');
        height: 345px;
        .text-main-pizza {
            font-size: 36px;
        }
    }
    .pizza-menu {
        width: 498px;
        height: 150px;
        .pizza-menu-text {
            font-size: 36px;
        }
    }
    .green-square {
        width: 142px;
        height: 150px;
        line-height: 9;
    }
    .mt {
        margin-top: 2px;
    }
    .pizza-img1 {
        background-image: url('../img/Pizza_delivery_fon_copy_2.png');
        background-repeat: no-repeat;
        height: 150px;
    }
    .pizza-img2 {
        background-image: url('../img/UX_Salads_fon_copy_2.png');
        background-repeat: no-repeat;
        height: 150px;
    }
    .pizza-img3 {
        background-image: url('../img/Desserts_fon_copy_2.png');
        background-repeat: no-repeat;
        height: 150px;
    }
    .main {
        h2 {
            font-size: 40px;
        }
        .text-below-h2 {
            font-size: 20px;
            color: #cbccce;
            padding-left: 15px;
        }
        .tincidunt-bg {
            height: 75px;
        }
        .tincidunt-text {
            font-size: 40px;
            line-height: 1.8;
        }
        .hendrerit-text {
            font-size: 30px;
        }
        .snow-img {
            width: 50px;
            height: 50px;
        }
        .wine-img {
            width: 50px;
            height: 50px;
        }
        .food-items {
            font-size: 27px;
        }
        .price-items {
            font-size: 27px;
        }
        .info-about-menu-items {
            font-size: 18px;
        }
    }
    .footer-section {
        height: 95px;
        background-color: #acd8ad;
    }
    .footer-text {
        font-size: 18px;
        line-height: 2;
    }
}

@media screen and (min-width: 980px) {
    .nav-text {
        display: none;
    }
    .nav-menu-toggle {
        display: none;
    }
    .nav-bar {
        height: 97px;
        .nav-menu {
            display: flex;
            flex-direction: row;
            top: 0;
            position: static;
            background-color: #373c3f;
            align-items: center;
            .nav-menu-items {
                width: auto;
                padding-right: 30px;
                font-size: 15px;
                background-color: #373c3f;
                color: #ccc;
                border-bottom: none;
            }
        }
        .pizza-logo {
            display: block;
        }
        .flex-tablet {
            display: flex;
            justify-content: space-between;
            width: 910px;
        }
    }
    .menu-logo {
        display: block;
    }
    .main-pizza {
        background-image: url('../img/header-fon_copy.png');
        height: 530px;
        background-position: center;
        background-size: cover;
        .text-main-pizza {
            font-size: 54px;
        }
        .pt-pizza {
            padding-top: 65px;
        }
        .website-pizza {
            padding-top: 50px;
            font-size: 34px;
        }
    }
    .flex-square {
        display: none;
    }
    .flex-pizza-menu {
        flex-direction: row;
        .pizza-menu {
            width: 327px;
            height: 327px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pizza-img1 {
            background-image: url('../img/Pizza_delivery_fon.png');
        }
        .pizza-img2 {
            background-image: url('../img/UX_Salads_fon_copy.png');
        }
        .pizza-img3 {
            background-image: url('../img/Desserts_fon_copy.png');
        }
    }
    .main-flex {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .flex-tablet-menu {
        display: flex;
        flex-direction: column;
    }
    .flex-row-menu {
        display: flex;
    }
    .footer-logo {
        display: block;
    }
    .footer-section {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        .footer-flex {
            display: flex;
        }
        .footer-pt {
            padding-top: unset;
        }
    }
}

@media screen and (min-width: 1200px) {
    .nav-bar {
        .flex-tablet {
            width: 1150px;
        }
    }
    .main-pizza {
        .text-main-pizza {
            font-size: 62px;
        }
        .website-pizza {
            font-size: 38px;
        }
    }
    .flex-pizza-menu {
        .pizza-img1 {
            width: 400px;
            height: 400px;
        }
        .pizza-img2 {
            width: 400px;
            height: 400px;
        }
        .pizza-img3 {
            width: 400px;
            height: 400px;
        }
    }
    .pizza-menu {
        .pizza-menu-text {
            font-size: 43px;
        }
    }
}